<!DOCTYPE html>
<html lang="en" ng-app="todoList">
  <head>
    <meta charset="utf-8">
    <title>Todo list</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/todoListController.js"></script>
  </head>

  <body ng-controller="todoListController">
    <form name="todoForm" ng-submit="addTodo()">
      <input type="text" ng-model="todo" placeholder="What needs to be done?">
    </form>
    <ul ng-repeat='todo in todoStore'>
      <li>
        {{todo}} <a href="" ng-click="removeTodo($index)">remove</a>
      </li>
    </ul>
  </body>
</html>
